<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='style.css'>
  </head>
  <body>
    <header>
        <img src='chef-hat.png'>
        <h2>FoodFeed</h2>

        <nav class='nav'>
          <a href='/'>The Feed</a>
          <a href='/addlink'>Contribute</a>
        </nav>

    </header>


    {{#each linkData}}
      <div class='entry'>
          <form name='upVote' method='post' action='/up/{{id}}?_method=PUT'>
            <input type='hidden' name='vote' value='{{vote}}'>
            <input type='hidden' name='id' value='{{id}}'>
            <button type='submit'>&#11014;</button>
          </form>
          <span class='vote'>{{vote}}</span>

          <form name='downVote' method='post' action='/down/{{id}}?_method=PUT' >
            <input type='hidden' name='vote' value='{{vote}}'>
            <input type='hidden' name='id' value='{{id}}'>
            <button>&#11015;</button>
          </form>

        <a class='link' href="{{link}}" target='_blank'><p>{{title}}</p></a>

      </div>
        <a href='/comment/{{id}}'><button>Comment</button></a>
    {{/each}}

    <p>{{linkvote}}</p>

  </body>
</html>
